/* NewsItem.css */
.card-text {
  background-color: #ffe8e8;
}

.card {
  max-width: 124rem; /* Adjust the max-width to make the card wider */
  border-radius: 20px;
}
.responsive-image {
  max-width: 100%;
  height: 200px;
  margin: 10px;
  border-radius: 5%;
}

@media (max-width: 768px) {
  .card {
    width: 100%; /* Make the card width 100% on smaller screens */
  }
}

/* Media query for screens smaller than 576px (typical phone) */
@media (max-width: 576px) {
  .card {
    width: 100%; /* Make the card width 100% on even smaller screens */
  }
  .responsive-image {
    /* Adjust image styles for smaller screens */
    max-width: 100%;
    height: auto; /* Ensure the image maintains its aspect ratio */
  }
}
.text-center {
  font-family: Helvetica Neue;
}
.card-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-icon {
  margin-right: 100px;
}

.select-country {
  width: 200px;
  margin-left: 10pz;
  display: inline-block;
}
